<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.1.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="
            http://maven.apache.org/SETTINGS/1.1.0
            https://maven.apache.org/xsd/settings-1.1.0.xsd">

  <pluginRepositories>
    <pluginRepository>
      <id>jenkins-releases</id>
      <url>https://repo.jenkins-ci.org/releases/</url>
      <releases><enabled>true</enabled></releases>
      <snapshots><enabled>false</enabled></snapshots>
    </pluginRepository>
    <pluginRepository>
      <id>jenkins-public</id>
      <url>https://repo.jenkins-ci.org/public/</url>
      <releases><enabled>true</enabled></releases>
      <snapshots><enabled>true</enabled></snapshots>
    </pluginRepository>
  </pluginRepositories>

  <repositories>
    <repository>
      <id>jenkins-releases</id>
      <url>https://repo.jenkins-ci.org/releases/</url>
      <releases><enabled>true</enabled></releases>
      <snapshots><enabled>false</enabled></snapshots>
    </repository>
    <repository>
      <id>jenkins-public</id>
      <url>https://repo.jenkins-ci.org/public/</url>
      <releases><enabled>true</enabled></releases>
      <snapshots><enabled>true</enabled></snapshots>
    </repository>
  </repositories>

</settings>
